<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dentista - Inicio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="main-menu">
    <h1>Bienvenido</h1>
    <div class="menu-buttons">
        <a href="/servicios" class="btn">Servicios</a>
        <a href="/juego" class="btn">Jugar 🎮 </a>
        <a href="/promociones" class="btn">Promociones </a>
    </div>
</body>
</html>